
@model List<WebFinal.ViewModels.Query1ViewModel>
<h3 class="text-center">Какое количество яиц получают от каждой курицы данного веса, породы, возраста?</h3>

<br />
@using (Html.BeginForm("Query1", "Queries", FormMethod.Post, new { @class = "form-group panel  center-block", @style = "border:1.5px solid black; border-radius: 13px; width: 300px;" }))
{
    <div class="form-horizontal">
        <h2 class="text-center">Форма ввода</h2>
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2" style="width: 175px">Название породы:</label>

            <div class="col-md-12">
                @Html.TextBox("tempName", null, new { @class = "form-control", placeholder = "Авиколор" })
            </div>

        </div>



        <div class="form-group">
            <label class="control-label col-md-2" style="width: 140px">Возраст:</label>

            <div class="col-md-11">
                @Html.TextBox("tempAge", null, new { @class = "form-control", placeholder = "2" })
            </div>

        </div>

        <div class="form-group">
            <label class="control-label col-md-2" style="width: 140px">Вес:</label>

            <div class="col-md-11">
                @Html.TextBox("tempWeight", null, new { @class = "form-control", placeholder = "3" })
            </div>

        </div>

        <input type="submit" value="Запросить" class="btn btn-default center-block" />
        <hr />
    </div>
}

@if (IsPost && Model != null)
{
<table class="table ">
    <tr>
        <th>Порода</th>
        <th>Возраст</th>
        <th>Вес</th>
    

    @foreach (var item in Model)
    {
     <tr>
        <td>@item.Bname</td>
        <td>@item.Cage</td>
        <td>@item.Cweight</td>
     </tr>
    }

</table>
}
