<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Птицеферма", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                    <li>@Html.ActionLink("Порода", "Index", "Breeds")</li>
                    <li>@Html.ActionLink("Курица", "Index", "Chickens")</li>
                    <li>@Html.ActionLink("Работник", "Index", "Workers")</li>
                    <li>@Html.ActionLink("Цех", "Index", "Workshops")</li>
                    <!-- Выпадающий список -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Запросы<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Какое количество яиц получают от каждой курицы данного веса, породы, возраста?", "Query1", "Queries")</li>
                            <li>@Html.ActionLink("В каком цехе наибольшее количество кур определенной породы?", "Query2", "Queries")</li>
                            <li>@Html.ActionLink("В каких клетках находятся куры указанного возраста с заданным номером диеты?", "Query3", "Queries")</li>
                            <li>@Html.ActionLink("Сколько яиц в день приносят куры указанного работника?", "Query4", "Queries")</li>
                            <li>@Html.ActionLink("Среднее количество яиц, которое получает в день каждый работник от обслуживаемых им кур?", "Query5", "Queries")</li>
                            <li>@Html.ActionLink("В каком цехе находится курица, от которой получают больше всего яиц?", "Query6", "Queries")</li>
                            <li>@Html.ActionLink("Сколько кур каждой породы в каждом цехе?", "Query7", "Queries")</li>
                            <li>@Html.ActionLink("Какое количество кур обслуживает каждый работник?", "Query8", "Queries")</li>
                            <li>@Html.ActionLink("Сколько кур каждой породы в каждом цехе?", "Query9", "Queries")</li>
                            <li>@Html.ActionLink("Средняя производительность по каждой породе", "Query1Advanced", "Queries")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Общее количество кур", "Query2Advanced", "Queries")</li>
                            <li>@Html.ActionLink("Общее количество яиц", "Query3Advanced", "Queries")</li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Курсовой проект ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
